<app-nav-menu></app-nav-menu>

<div class="content">
    <router-outlet></router-outlet>

    <section class="genres">
        <ul class="list" *ngFor="let item of lstGenres.genres">
            <li class="genre">{{item.name}}</li>
        </ul>
    </section>

    <section>
        <article class="d-flex" *ngFor="let item of lstTopRated.results" style="background-color: rgba(0,0,0,0.03); border-radius: 5px; padding: 5px 5px; margin-top: 5px;;">
            <div class="film" style="background-image: url(https://image.tmdb.org/t/p/original/{{item.poster_path}}); background-size: cover;">
                <div class="title">
                    <h1><i class="bi bi-star-fill"></i> {{item.vote_average}}</h1>
                </div>
            </div>

            <div class="description" style="width: 70%; padding: 5px 5px;">
                <h1>{{item.title}}</h1>
                {{item.overview}}
            </div>
        </article>
    </section>
</div>